<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>League Oracle</title>
  </head>
  <body>
    <input type="search" placeholder="Champion Name"/>
    <button>Search</button>
    <%= champion %>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="index.js"></script> -->
  </body>
</html>
